[user]
	name = Alankrit Joshi
	email = {{ .email }}

[includeIf "gitdir:~/src/github.com/Shopify/"]
	path = ~/.gitconfig-shopify

[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = delta

[init]
	defaultBranch = main

[include]
	path = /Users/alankritjoshi/.config/dev/gitconfig

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true

[merge]
	conflictstyle = zdiff3

