layout {
    pane_template name="default_pane" {
        pane {
            size "20%"
        }
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    new_tab_template name="default_tab" hide_floating_panes=true {
        default_pane {}

        floating_panes {
            pane {
                x -1
                y 1
                width "40%"
                height "90%"
            }
        }
    }
}
