{
  "lastChangelogVersion": "0.84.1",
  "packages": [
{{ if eq .machine "vanik" }}    "https://github.com/shopify-playground/shop-pi-fy",
    "git:github.com/shopify-playground/pi-tool-gateway-extension",
    "https://github.com/shopify-playground/pitw",
    "https://github.com/shopify-playground/pi-code-previews"
{{ end }}  ],
  "defaultThinkingLevel": "xhigh",
  "theme": "catppuccin-mocha",
  "defaultProvider": "anthropic",
  "defaultModel": "claude-fable-5",
  "markdown": {
    "codeBlockIndent": ""
  },
  "compaction": {
    "enabled": true,
    "reserveTokens": 32768,
    "keepRecentTokens": 50000
  },
  "hideThinkingBlock": true,
  "npmCommand": [
    "pnpm"
  ]
}